/* ---- reset ---- */

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

.wrapper {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}


/* ---- particles.js container ---- */

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -20;
    background-color: #00203FFF;
    /*background: linear-gradient(#000000,#191919);*/
    /*background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;*/
}

.head {
    color: #ADEFD1FF;
    font-family: 'Pacifico', cursive;
    /* font-family: 'Karla', sans-serif; */
    /* font-family: 'Sawarabi Mincho', serif; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 7vw;
    /* margin-right: 50px; */
    /* font-weight: 0; */
    /* line-height: 20px; */
    margin-bottom: 0%;
}

p {
    display: inline-block !important;
}

.section {
    /*height: calc(100vh - 40px);*/
    height: 80vh;
    max-width: 100vw;
    z-index: 1;
    position: relative;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transform: translate3d(0, 0, 0);
}

.name {
    width: 70%;
    margin: 0 auto;
}

.text {
    /* font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 50px; */
    font-size: 1.515vw;
    /* margin-top: 1.212vw; */
    /* margin-bottom : 1.212vw; */
    /* margin-right: 3.03vw; */
    margin : 0 auto;
    color: white;
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
}



.fa-kaggle:before {
  font-family: roboto;
  /* color: #429bf4; */
  color: transparent;
  
  font-size: 1.1em;
  content: "k";
  margin: 0, 0.485vw;
  /*any letter of your choice but for kaggle "k"*/
}

/* .fb,
.lin,
.git,
.medium,
.twit,
.mail,
.fcc,
.res,
.stack-overflow,
.quora,
.kaggle {
    
    background: linear-gradient(45deg, #a58fe9, #e37682);
} */



.hexagon-wrapper {

    position: relative;
    left: relative;
    margin: 0 auto;
    text-align: initial;
    width: 5.242vw;
    height: 5.242vw;
    position: relative;
    float: left;
  }
  .hexagon {

    cursor : pointer;
    position: relative;
    width: 80%;
    height: 46%;
    margin: 0 auto;
    background: linear-gradient(-180deg,  #ADEFD1FF, #5d82c7);
    display: flex;
    align-content: center;
    justify-content: center;
    transition: 0.5s;
  }
  .hexagon i {
    z-index: 100;
    padding: 0vw 0.485vw 0.485vw 0.485vw !important;
    position: relative;
    margin: 0 0.485vw;
    font-size: 2.424vw;
    color: transparent;
    background: linear-gradient(45deg, #00203FFF, #00203FFF);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .hexagon i:hover{
    color: rgb(11, 69, 128);
  }
  .fa-kaggle:hover:before{
    z-index: 100;
    color: rgb(11, 69, 128);
  } 
  .hexagon:before,
  .hexagon:after {
    position: absolute;
    content: "";
    background: inherit;
    height: 100%;
    width: 100%;
    border-radius: 0;
    transition: 0.5s;
    transform-origin: center;
  }
  .hexagon:before {
    transform: rotateZ(60deg);
  }
  .hexagon:after {
    transform: rotateZ(-60deg);
  }
  .hexagon:hover {
    border-radius: 3.03vw;
    transition: 0.5s;
  }
  .hexagon:hover:before {
    border-radius: 3.03vw;
    transition: 0.5s;
  }
  .hexagon:hover:after {
    border-radius: 3.03vw;
    transition: 0.5s;
  }


.icons{
    margin: 0 auto;
    padding: 2vw 0.485vw 0.485vw 20vw !important;
}
/* .ico {
    border: 4px double rgba(255, 255, 255, 0.41);
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 11px;
    position: relative;
    background: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 22px 8px;

} */



/* .ico:hover {
    cursor: pointer;
    border: 4px double #07c2fc;
    
} */

/* .ico-res {
    border: 4px double white;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px 8px 8px 8px;
    position: relative;
    background: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 0px 8px;
} */

/* .ico:hover {
    transform: translateY(-4px);
}

.ico-res:hover {
    transform: translateY(-4px);
}

.fa:hover {
    color: white;
} */

/* .fa-kaggle:hover:before{
  color: white;
} */



#bar {
    position: fixed;
    top: 20%;
    left: 40%;
    width: 40%;
    height: 40%;
    -webkit-transition: 0.1s ease all;
}



@media screen and (max-width: 700px) {
    .name {
        width: 100%;
    }
    .head {
        font-size: 13vw;
        margin-bottom: 0vw !important;
        padding: 0 !important;
    }
    .text {
        font-size: 4vw;
        margin-bottom: 0.242vw !important;
        margin-top: 0.303vw !important;
    }

    .icons {
        margin: 0 auto;
        /* margin-bottom: 0.242vw !important;
        margin-top: 0.303vw !important; */
    }
    /* .ico {
        border: 4px double white;
        border-radius: 50%;
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 5px !important;
        position: relative;
        background: transparent;
        transition: all 0.2s ease;
        text-decoration: none;
        margin: 0px 3px !important;
    } */
    /* .ico-res {
        border: 4px double white;
        border-radius: 50%;
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 10px 8px 8px 8px !important;
        position: relative;
        background: transparent;
        transition: all 0.2s ease;
        text-decoration: none;
        margin: 0px 8px !important;
    } */
    .fa-2x {
        font-size: 1.5em !important;
    }
    .fa-3x {
        font-size: 2em !important;
    }
    ul {
        padding: 0 !important;
    }
}

/* .fcc {
    margin-left: -6px;
}

.medium {
    margin-left: -2px;
}

.stack-overflow {
    margin-right: 2px;
    margin-top: -2px
}

.mail {
    margin-left: -2px
}

.quora {
    margin-left: -2px;
} */

